.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.movie-card h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card .card {
  width: 100%;
}